tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/PROCESSOR filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/table.f0 filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/table.f2_TSM1 filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/OBSERVATION filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/STATE filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/table.f0i filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/table.f2 filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/table.f3_TSM1 filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/table.lock filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/FLAG_CMD filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/HISTORY filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/POINTING filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/POLARIZATION filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/SPECTRAL_WINDOW filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/table.f1 filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/table.f3 filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/table.f4 filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/FIELD filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/DATA_DESCRIPTION filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/FEED filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/table.dat filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/table.f4_TSM1 filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/table.info filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/ANTENNA filter=lfs diff=lfs merge=lfs -text
tests/scienceData_SB13671_RACS_1237+00A.beam00_averaged_cal.ms/** filter=lfs diff=lfs merge=lfs -text
*.zip filter=lfs diff=lfs merge=lfs -text
